extends layout
block title
	title NMVC
	meta(name="description",content="")

block content
	ul
		li
			a(href="/addColor") add Color
		li
			a(href="/json/tx/d10d7127366229b341a559ddf83b53b9ac6c1b2ca792cb2e81edaf7a595d763b") example json tx
		li
			a(href="/tx/bf2bd6aefa3263988ac27fc1dc5be0e646143363031dc0976f971a73f7a64931") example tx